<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>

  <link href="templates/tmpl1.mustache" rel="template" id="tmpl1"/>
  <link href="templates/tmpl2.mustache" rel="template" id="tmpl2" data-templateName="dataName"/>
  <link href="templates/tmpl2.mustache" rel="template" data-templateName="dataName"/>
</head>
<body>
<% with (scripts) { %>
  <% [].concat(polyfills, jasmine, boot, vendor, helpers, src, specs,reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</body>
</html>
